<html>
<head>
  <title>Lakshan's Webpage</title>
</head>
<body>
  <h1>Lakshan's Node Table Search Display</h1>
  <table>
    <th>
      <tr>
        <td>First Name<td>
        <td>Last Name</td>
        <td>Beep Test Score</td>
      </tr>
    </th>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </table>
</body>


</html>
